<section class="section-welcome-hero">
	<div class="container hero__container">
    <header class="header">
      <a class="header__logo" target="_blank" mainWebsiteUrl>
        <img class="header__logo_img" src="https://direct-landings.azureedge.net/assets/img/pages/welcome/hero-section/FxPro_Logo_Main_RedBG.svg" alt="FxPro Logo">
      </a>
      <a class="header__logo-mob" target="_blank" mainWebsiteUrl>
        <img class="header__logo_img" src="https://direct-landings.azureedge.net/assets/img/pages/welcome/hero-section/FxPro_Logo_Main_mob.svg" alt="FxPro Logo">
      </a>
      <div class="header__btn_wrapper">
        <a href="javascript:void(0)" rel="nofollow noopener" directLoginLink class="direct-login-link header__btn_login" fxTranslate="welcome_hero_login"></a>
        <a href="javascript:void(0)" rel="nofollow noopener" directRegisterLink class="direct-register-link header__btn_register" fxTranslate="welcome_hero_register"></a>
      </div>
    </header>
    <div class="hero__bg">
      <iframe src='https://my.spline.design/particlescopy-4e2c18086d6070d410657e98cf239d49/' frameborder='0' width='100%' height='100%'></iframe>
    </div>
    <div class="hero">
      <h1 class="hero__title" fxTranslate="welcome_hero_title"></h1>
      <p class="hero__description" fxTranslate="welcome_hero_description"></p>
      <div class="hero__wrapper">
        <a
          href="javascript:void(0)"
          rel="nofollow noopener"
          target="_blank"
          directRegisterLink
          class="hero__btn header__btn_register"
        >{{'welcome_hero_btn' | translate}}</a>
        <p class="hero__text">
          <span>{{'welcome_hero_text_1' | translate}}</span>
          {{'welcome_hero_text_2' | translate}}
          <span>{{'welcome_hero_text_3' | translate}}</span>
        </p>
      </div>
    </div>
	</div>
</section>